#openMenu {
        width: 2%;
        position: fixed;
        color: lime;
        background-color: black;
        margin-top: 20%;
        height: 15%;
        margin-left: 0px;
    }
    #openMenu:hover {
        width: 2%;
        position: fixed;
        color: lime;
        background-color: black;
        margin-top: 20%;
        height: 15%;
        margin-left: 0px;
        cursor: pointer;
    }
    #menu {
        position: fixed;
        color: lime;
        background-color: black;
        margin-top: 11%;
        margin-bottom: 4%;
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
        height: 50%;
        padding: 1% 1% 1% 1%;
    }
    #menuContent {
        text-align: center;
    }
    #menuClose:hover {
        cursor: pointer;
    }
